@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #be917c;
  --color-secondary: #8C6954;
  --color-background: #000000;
  --color-text: #ffffff;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Cormorant Garamond', serif;
}

/* Custom text selection color */
::selection {
  background-color: var(--color-primary);
  color: var(--color-background);
}

::-moz-selection {
  background-color: var(--color-primary);
  color: var(--color-background);
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-background);
}

@layer components {
  .btn-primary {
    @apply bg-[#BF8970] text-white px-6 py-2 rounded-md hover:bg-[#8C6954] transition-colors duration-300;
  }
}

@media (min-width: 1024px) and (max-height: 600px) {
  .custom-top {
    top: 5rem !important;
  }
}

@media (min-width: 1024px) and (max-height: 600px) {
  .customSticky-top {
    top: 2rem !important;
  }
}